<%= form_for(@map_point) do |f| %>
  <% if @map_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map_point.errors.count, "error") %> prohibited this map_point from being saved:</h2>

      <ul>
      <% @map_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>
  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
