<h1>Listing map_points</h1>
  <p>Click on the map to add markers.</p>

  <div id="map-canvas"></div>
  
  <div id="panel">
    <input onclick="clearMarkers();" type=button value="Hide Markers">
    <input onclick="showMarkers();" type=button value="Show All Markers">
    <input onclick="deleteMarkers();" type=button value="Delete Markers">
  </div>
  <%= javascript_tag do %>
  window.points = <%=raw @map_points.to_json %>;
  <% end %>
  <table>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    <% @map_points.each do |map_point| %>
      <tr>
        <td><%= map_point.latitude %></td>
        <td><%= map_point.longitude %></td>
        <td><%= link_to 'Show', map_point %></td>
        <td><%= link_to 'Edit', edit_map_point_path(map_point) %></td>
        <td><%= link_to 'Destroy', map_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<%= link_to 'New Map point', new_map_point_path %>
